<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--ESFramework봉사기IP -->
    <add key="ServerIP" value="210.116.91.44"/>
    <!--ESFramework봉사기포트-->
    <add key="ServerPort" value="4530"/>
    <!--Remoting봉사기포트-->
    <add key="RemotingPort" value="4500"/>

    <!--OMCS봉사기IP -->
    <add key="OmcsServerIP" value="210.116.91.44"/>
    <!--OMCS봉사기포트-->
    <add key="OmcsServerPort" value="9900"/>

    <!--유저정보-->
    <add key="userID" value=""/>
    <add key="userPW" value=""/>
    
    <add key="AutoRun" value="false"/>
  </appSettings> 
</configuration>